/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
*/





:root {
    --theme-color: #092760;
}

 Global shared styling 
body {
    font-family: "Segoe UI", sans-serif;
    background-color: #f8f9fc;
}

.navbar-gradient {
    background: linear-gradient(to right, var(--theme-color) 80%, #ffffff 100%);
}

.btn-theme {
    background-color: var(--theme-color);
    color: white;
    border: none;
}

    .btn-theme:hover {
        background-color: #0b3885;
    }

.text-theme {
    color: var(--theme-color) !important;
}
